:root{
    --main:#2B9DF4;
    
}

.main-color{
    color: var(--main);
}

h1,h2{
    font-family: 'Orbitron', sans-serif;
    color: white;
}

h3,h4,h5,h6,p,a{
    font-family: 'Jura', sans-serif;
    color: white;
}

nav{
    background-color: black;
    border-top: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color:white;
}

.r-container{
    min-height: 90vh;
    background:radial-gradient(transparent,black), url("/img/moon.jpg") center no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.icon-color{
    color:var(--main) !important;
}

.icon-white{
    color: white;
}

.r-container2{
    min-height: 60vh;
    background-color: black;
}

.r-container3{
    min-height: 80vh;
    background-color: black;
}

.img-size{
    width: 600px;
}

.r-container4{
    min-height: 80vh;
    background-color: black;
}

.border-blue{
    border-top: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color:var(--main);
}

.r-container5{
    min-height: 100vh;
    background-color: black;

}

.img-size2{
width: 500px;

}

.r-container6{
    min-height: 80vh;
    background-color: black;
}

.button{
    position: relative;
    display: inline-block;
    padding: 5px 35px;
    border: 2px solid var(--main);
    color: white !important;
    text-decoration: none;
    margin-right: 15px;
}


.button::before{
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: black;
}

.button::after{
    content: "";
    position: absolute;
    top: -2px;
    left: 6px;
    width: calc(100% - 12px);
    height: calc(100% + 4px);
    background-color: black;
}

.button span{
    position: relative;
    z-index: 3;
}

.r-container7{
    min-height: 70vh;
    background:linear-gradient(black,transparent,black), url("img/sunrise-1765027_1920.jpg") center no-repeat;
    background-size: cover;
}

.r-container8{
    min-height: 25vh;
    background-color: black;
}

.footer-line{
position: relative;
height: 5px;
background:linear-gradient(90deg,black,var(--main),black);
}

.empty-div{
    background-color: black;
    min-height: 10vh;
}

@media screen and (max-width:600px) {

    .r-container{
        min-height: 50vh;
    }

    .img-size{
        width: 200px;
    }

    .r-container3{
        min-height: 60vh;
    }

    .r-container7{
        min-height: 30vh;
    }
    
}